<div id="body">

    <section class="content-wrapper main-content clear-fix">

        <div>

            <h2>Users..</h2>

        </div>

        <div>

            <table id="Users" style="border: 1px solid black;"></table>

        </div>

    </section>

</div>



@section scripts {

    <script>

        var apiUsers = 'api/Users';

        $(document).ready(function () {

            // Send an AJAX request

            var rows = '';

            $('#Users').empty();

            $.getJSON(apiUsers,

                function (data) {

                    $.each(data, function (key, val) {

                        var UsersURL = apiUsers + '/' +val.Customer_Name; 

                        rows = rows + '<tr style="border: 1px solid black;"><td>  ' +

                        '<a style="color: Blue; font-weight:bold; font-size:15px"'

                           + 'href="' + UsersURL + '">' + val.Pan_no + '</a>' +

                            '</td><td>' + val.Aadhar_no +

                            '</td><td>' + val.Address + 
                                
                            '</td></tr>' + val.Gender +

                             '</td></tr>' + val.Phone +

                              '</td></tr>' + val.Account_type +

                               '</td></tr>' + val.DOB +

                                '</td></tr>';



                    });

                    $('#Users').html(rows);

                });

        });

    </script>

}
